html, body{
	margin: 0;
	padding: 0;
	background-color: #0e0e0e;
	background-image: url('bg.jpg');
	background-repeat: no-repeat ;
	color: #FFFFFF;
	font-size: 13px;
}

* {
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 700px;
	height: 400px;
}

#header {
    -webkit-box-shadow: 1px 1px 20px 0px #000;
    -moz-box-shadow: 1px 1px 20px 0px #000;
    box-shadow: 1px 1px 20px 0px #000;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.8);
	margin: 50px;
	padding: 8px;
}

#header:hover {
	background-color: rgba(0,0,0,0.85);
	border: 1px solid rgba(0,0,0,0.85);
}

h3 {
	font-size: 17px;
	/*font-variant: small-caps;*/
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.green {
	padding: 0;
	color: rgba(255,255,255,0.45);
}

form {
	display: inline;
}

input 	{
	display: inline;
	text-align: center;
	margin-left: 30px;
	border: none;
	background: rgba(255,255,255,0.1);
	color: #b5b5b5;
	width: 70%;
	font-size: 14px;
}

input[type=text]:focus {
      outline: 1px solid #8da277;
}
#datebox{
	display: block;
    	position: absolute;
	padding: 0 5px 0 5px;
	top: 29%;
	left: 0%;
	right: 0%;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 50px;
	background: none;
	border: none;
	box-shadow: none;
}
#clockbox{
	display: block;
    	position: absolute;
	padding: 0 5px 0 5px;
	top: 15%;
	left: 0%;
	right: 0%;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 140px;
	background: none;
	border: none;
	box-shadow: none;
}
